<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-lg-4">
            <div class="card border-0 shadow">
                <div class="card-body p-5">
                    <h3 class="text-internet-banking text-center mb-4">Conta criada com sucesso!</h3>
                    <p>Para navegar para a pagina de login clique no link abaixo:</p>
                    <button type="button" [routerLink]="['/']" class="btn btn-internet-banking btn-block">Ir para página de login</button>
                </div>
            </div>
        </div>
    </div>
</div>