<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-lg-4">
        <div class="card border-0 shadow">
          <div class="card-body p-5">
            <h3 class="text-internet-banking text-center mb-4">Verificação do código de confirmação</h3>
            <p>Informe o código que você recebeu por email.</p>
            <form [formGroup]="codeVerificationForm" (ngSubmit)="onSubmit()">
              <div class="form-group mb-4">
                <label for="senha" class="text-internet-banking">Código de verificação</label>
                <input type="text" formControlName="code" class="form-control" id="codigoVerificacao" maxlength="4" placeholder="Código de verificação">
              </div>
              <button type="submit" class="btn btn-internet-banking btn-block">Validar código</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  